# Docker环境的配置文件
server:
  port: 8000
  servlet:
    encoding:
      charset: utf-8
      force: true
      enabled: true
    context-parameters:
      tomcat-servlet:
        async-supported: true
  tomcat:
    connection-timeout: 180000

spring:
  application:
    name: RAGTranslationApplication
  web:
    timeout: 240s
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    name: defaultDataSource
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/guiguxiaozhi?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:root}
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/chat_db}
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:admin}
    password: ${SPRING_RABBITMQ_PASSWORD:admin}

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      table-underline: true

ai:
  deepSeek:
    base-url: https://api.deepseek.com/v1
    model: deepseek-chat
    apiKey: ${DeepSeek_API_KEY:}

  kimi:
    base-url: https://api.moonshot.cn/v1
    model: kimi-k2-turbo-preview
    apiKey: ${KIMI_API_KEY:}

  embeddingStore:
    qdrant:
      collectionName: ${AI_EMBEDDINGSTORE_QDRANT_COLLECTIONNAME:ragTranslation-1226}
      host: ${AI_EMBEDDINGSTORE_QDRANT_HOST:localhost}
      port: ${AI_EMBEDDINGSTORE_QDRANT_PORT:6334}

  dashscope:
    apiKey: ${DASHSCOPE_API_KEY:}
    model: qwen3-235b-a22b
    base-url: https://dashscope.aliyuncs.com/compatible-mode/v1

  mcp:
    baiduMap:
      apiKey: ${BAIDU_MAP_API_KEY:}

# Actuator健康检查
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always