<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [traceId=%X{traceId}/spanId=%X{spanId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- 设置org.fb包的日志级别为DEBUG，方便查看详细日志 -->
    <logger name="org.fb" level="DEBUG" />
    
    <!-- 设置mapper包的日志级别为DEBUG，方便查看SQL语句 -->
    <logger name="mapper" level="DEBUG" />
</configuration>